<h1>Sprite Workshop</h1>
<h3>Get started with drawing your own sprites</h3>
<br>

<div class="">

  <h2>Introduction</h2>
  <div>
    In the following paragraphs you will find everything you need to know to draw your own sprite.<br />
    <b>Before submitting or asking for help, please make sure you have read all sections!</b><br />
    Here a checklist what you need to get started:
    <ul>
      <li>An image editor: Photoshop (Recommended), Gimp (Free) or anything else you´re comfortable with</li>
      <li>The sprites template - download <a
          href="https://cdn.discordapp.com/attachments/796787836643704872/822183729240866866/template.psd">[here]</a>
      </li>
      <li>Basic knowledge about painting and layers in your image editor.</li>
      <li>An idea for a sprite ;)</li>
    </ul>
  </div>
  <br>

  <h2>About Sprites</h2>
  <div>
    There are a few guidelines you should follow:
    <ul>
      <li>Sprites are an image which is shown over the skribbl avatar.</li>
      <li>Sprites should follow the overall sprite style. If youre not sure if the sprite fits, contact tobeh before
        drawing.</li>
      <li>No insider-jokes or personal rather unpopular "favourite characters". Sprites should be fun for everyone!</li>
      <li>No duplicate sprites just for other colors / details. Each sprite should have its own idea behind.</li>
      <li>Don't make oversized sprites. The sprite should be mostly in the avatar area.</li>
      <li>No flashy / annoying animations.</li>
      <li>Sprites and the Avatar are GIF animations - the frame delay looks best with 0.25s each frame.</li>
      <li>
        GIFs dont support semi-transparent pixels. Means: Use a transparent background and only solid colors.<br />
        Warning: Standard brushes have semi-transparent pixels, use a pixel brush!
      </li>
      <li>
        The avatar has two frames. Anyway, if you draw a sprite with two frames, they will "overlap" the avatar
        animation.<br />
        Like: Sometimes the sprite frame 2 is on avatar frame 1, sometimes sprite 2 on avatar 1, etc...<br />
        This means EVERY sprite frame has to fit on every avatar frame! More about that later.
      </li>
    </ul>
  </div>
  <br>

  <h2>The basic workflow</h2>
  <div>
    A few straightforward steps how to draw your sprite:
    <ul>
      <li>Open the template file above - you'll see three groups: template (Sample avatar frames), Angel and Squid
        (Sample
        sprites)</li>
      <li>Hide all groups except one of the both avatar frames. This layer will be your template.</li>
      <li>Create a new layer in a new group which will be your sprite layer.</li>
      <li>Draw a sprite sketch - outlines, a few colors. Then disable the activated avatar frame and view the other
        avatar
        frame.</li>
      <li>You will notice the avatar moved slightly - adjust the sprite so it fits on BOTH avatar frames.</li>
      <li>This can be tricky on sprites which depend on the avatar outlines - see the Angel sample sprite.</li>
      <li>As soon as you finished details, shadows and outlines, copy the sprite layer.</li>
      <li>You now have two layers - each is a frame. Since the sprite should have a slight movement, you'll have to edit
        one of the frames.</li>
      <li>
        Simple "moving" effects can be achieved by transforming the layer - wider, higher, bigger - and editing the
        shadows slightly. <br />
        You can also remove the details and re-draw them to make the new frame look a bit different.
      </li>
      <li>
        Always check that the frame you're editing fits both avatar frames.
      </li>
      <li>
        As soon as you think the sprite is finished, you can move to creating the gif.
      </li>
    </ul>
  </div>
  <br>

  <h2>Animating it</h2>
  <div>
    Photoshop users have a clear advantage:
    <ul>
      <li>Photoshop lets you preview & export the gif easily.</li>
      <li>Open the timeline and create a frame animation</li>
      <li>Create two frames and enable only one of the sprite layers on a frame</li>
      <li>Set the frame delay to 0.25s & click play to preview the animation</li>
      <li>To export the sprite as gif, click "File > Export > Save for Web"</li>
    </ul>
    If you dont have photoshop:
    <ul>
      <li>Search the web how to preview (Gimp has no preview)</li>
      <li>Search the web how to export as GIF (Gimp has this ;))</li>
      <li>OR: save both layers as PNG and create a gif with a random online gif creator</li>
      <li>OR: send me the project file & I will create the GIF for you</li>
    </ul>
  </div>
  <h2>That's it!</h2>
  <div>
    You now have the permission to ask me any further questions ;)<br />
    As soon as you finished the sprite, send me the gif/project and your wish for a name and price.<br />
    If the sprite fits all requirements, I usually can add it within a day.
  </div>
</div>