details summary {
  font-weight: 500;
  cursor: pointer;
  user-select: none;
  padding-bottom: .5rem;
  color: #aa8dd8;
}

details[open] {
  padding-bottom:1rem;
}

.card {
  position: relative;
  border-left: 6px solid #7289da;
  border-top-left-radius: .3rem;
  border-bottom-left-radius: .3rem;
  padding-left: 2rem;
  padding-top: 1rem;
}

.card * {
  color: #7289da;
  text-shadow: -2px -2px 20px #000000, 2px 2px 20px #000000, -2px 2px 20px #000000, -2px -2px 20px #000000, 2px -2px 20px #000000
}

.card::after {
  background-image: url(https://static.typo.rip/scenes/scenePortal.gif);
  background-size: cover;
  background-repeat: no-repeat;
  content: '';
  inset: 0;
  position: absolute;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
  z-index: -1;
  opacity: .2;
}

/* SPRITE DISPLAY */
.sprite {
  position: relative;
  width: 8rem;
  height: 8rem;

  .card {
    position: absolute;
    border: 2px solid #7289da;
    box-shadow: 0 19px 18px rgb(104 125 198 / 21%), 0 -5px 12px rgb(114 137 218 / 57%);
    border-radius: .5em;
    padding: 1em;
    box-sizing: border-box;
    width: 140%;
    left: -20%;
    top: -50%;
    z-index: 1;
    background-color: black;
    transform: scale(0);
    opacity: 0;
    transition: all .2s cubic-bezier(0, 0.55, 0.45, 1);
  }

  .thumbnail {
    border-radius: 1rem;
    background-repeat: no-repeat;
    background-color: #ffffff08;
    background-position: center;
    background-size: contain;
    height:100%;
    width:100%;
    cursor:pointer;
    transform:scale(1);
    transition:all .1s ease;
  }
}


    .sprite .thumbnail:hover + .card, .sprite .card:hover{
        transform: scale(0.9);
        opacity: 1;
        display: block;
        transition-delay: .25s;
    }
    .sprite .thumbnail:focus + .card {
        transform: scale(0.9);
        opacity: 1;
        display: block;
    }
    .sprite .thumbnail:hover {
        background-color: #7289da40;
        transform:scale(0.9);
    }

    .sprite > div {
        width: 100%;
        text-align: center;
    }

.sprite img{width:100%;}
.sprite h3 {font-size:0.8em; margin:0.3em;}
.sprite h2 {font-size:1.3em; margin:0.3em;    word-break: break-word;}

.emote {
  @apply flex flex-row bg-gray-500 bg-opacity-10 items-center p-3 gap-3 rounded-lg cursor-pointer;

  span {
    @apply font-semibold;
  }

  img {
    @apply h-8 aspect-square;
  }
}
