.listCard {
  @apply bg-opacity-5 bg-white rounded-md px-5 py-2;
  transition: box-shadow .1s
}

.listCard:hover {
  box-shadow: 0px 0px 5px 1px #7289da3b;
}

.profileHead {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
