<h1>Sprite List</h1>
<br><br>
<div class="grid grid-cols-2 desktop:flex desktop:flex-row gap-7 justify-center items-center">
  <h4 class="w-auto">Filter sprite tags: </h4>
  <input [formControl]="filterInput" type="text" placeholder="#regular">
  <input type="button" [value]="orderModeCaption" (click)="toggleOrderMode()">
  <input type="button" [value]="orderDirectionCaption" (click)="toggleOrderDirection()">
</div>
<br>

<ng-container *ngIf="sprites$ | async as sprites; else loading">
  <h3>{{sprites.length}} sprites found</h3>
<br>
<div class="flex flex-wrap gap-12 justify-center">
    <div *ngFor="let sprite of sprites" class="sprite">
      <div tabindex="0" class="thumbnail" style="background-image: url({{sprite.url}})"> </div>
      <div class="card">
        <div>
          <h3>#{{sprite.id}}</h3>
        </div>
        <div>
          <h2>{{sprite.name}}</h2>
        </div>
        <div class="flexrow flexcenter fullwidth"><img src="{{sprite.url}}"></div>

        <div>
          <h3>💰 {{sprite.cost}} {{sprite.eventDrop ? sprite.eventDrop .name + " Drops" : "Bubbles"}}</h3>
        </div>
        <h3> {{sprite.tags.join(" ")}} </h3>
      </div>
    </div>
</div>
</ng-container>

<ng-template #loading>
  <h3>Loading sprites...</h3>
</ng-template>
