<h1>Test the rainbow color feature</h1>
<h2>Rainbow sprites (marked with 🌈) can be color-customized.<br>
  To adjust the color, you need to choose a number which will change the sprite's color channels.<br>
  Here you can test out which color modification looks the best.
</h2>

<div class="flex flex-row gap-7 items-center">
  <input type="number" #rainbowSpriteID placeholder="Sprite ID" />
  <input type="number" #rainbowShift placeholder="Rainbow Shift" />
  <input type="button" value="Preview Sprite">
</div>

<div class="flex flex-row gap-7 items-center">
  <input type="number" #rainbowSpriteID placeholder="Sprite ID" />
  <input type="number" #rainbowShift placeholder="Rainbow Shift" />
  <input type="button" value="Preview Sprite">
</div>