<div class="flex flex-col gap-8 items-center">
  <h1>.. what's that?</h1>
  <div class="flex flex-row w-full iconsRow justify-center">
    <div class="cglowYellow"><img class="icon" draggable="false" src="res/wand.gif"></div>
    <div class="cglowYellow"><img class="icon" draggable="false" src="res/magicball.gif"></div>
    <div class="cglowYellow"><img class="icon" draggable="false" src="res/book.gif"></div>
  </div>
  <h2>Typo adds some magic to skribbl.io</h2>
  <h3>
    Typo is the most advanced skribbl.io extension.<br />
    Draw fancier, quickly search for friends or connect to Discord!
    <br />
    Click the purple planet to add Typo or to get to know the features.
  </h3>
  <br>
  <h3><input class="w-fit" type="button" value="Read More About Typo" (click)="openNav()"></h3>
</div>