<h2>Load a member for inspection</h2>
<br>

<div class="flex flex-col gap-8 justify-center items-center">
  <div class="grid grid-cols-2 desktop:grid-cols-3 gap-8 w-fit items-center">
    <h3 class="col-span-2 desktop:col-span-1">By Discord ID: </h3>
    <input #id type="number" placeholder="1234567890123456">
    <input type="button" value="Load Member" (click)="loadByDiscordId(id.value)">

    <h3 class="col-span-2 desktop:col-span-1">By Typo ID: </h3>
    <input #typoId type="number" placeholder="12345678">
    <input type="button" value="Load Member" (click)="loadByTypoId(+typoId.value)">

    <h3 class="col-span-2 desktop:col-span-1">Wildcard Search: </h3>
    <input #text type="text" placeholder="Search Text">
    <input type="button" value="Search Members" (click)="searchMembers(text.value)">
  </div>


  <div class="flex flex-col gap-4 w-fit items-center">

    <div *ngIf="membersSearch$ && membersSearch$ | async as members">
      <div *ngFor="let member of members">
        <h3>{{member.userName}}</h3>
        <div class="grid grid-cols-2">
          <div>
            <ngx-json-viewer [expanded]="false" [json]="member"></ngx-json-viewer>
          </div>

          <input type="button" value="Load {{member.userName}}" class="self-center justify-self-center"
            (click)="loadByTypoId(member.typoId)">
        </div>

      </div>
    </div>
  </div>

</div>
